{% extends "feed/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

 
<div class="col-md-8 m-auto">

    <div class="content-section">
        <h1>About page</h1>
        <br>
        <p>The motivation behind this project lies in the benefits that collaborative programming, specifically pair programming, can bring to software development. 
            <br><br>
            Pair programming has been shown to improve code quality, enhance productivity, and facilitate knowledge transfer. However, finding a suitable programming partner can be a time-consuming task, especially for developers working on individual projects. Additionally, receiving constructive feedback and comments on projects is crucial for personal and professional growth, but the process of obtaining such feedback can be challenging without a dedicated platform.
            <br><br>
            The aim of this project proposal is to develop a collaboration web application that caters to the needs of developers, providing them with a platform to post about their projects, find suitable partners for pair programming, and seek feedback and comments on their projects. The application will facilitate communication and collaboration among developers through features such as chat and video calling, enabling them to engage in effective pair programming, where one person assumes the role of the driver and the others act as navigators.
            </p>
    </div>
</div>

{% endblock %}